<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container-fluid">
		<form id="sloFrom">
		<input type="hidden" id="id" name="id">
			<div class="form-group">
				<div class="row">		
					<div class="col-md-2">
						 <label for="name">广告名称:</label>
					</div>
					<div class="col-md-4">
						<input type="text" id="name" name="name" class="form-control" placeholder="请输入广告名称">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-2">
						<label>生效时间:</label>
					</div>
					<div class="col-md-4">
						<input type="text" id="stdate" class="form-control date" name="stdate">
					</div>
					<div class="col-md-2">
						<label>失效时间:</label>
					</div>
					<div class="col-md-4">
						<input type="text" id="endate" class="form-control date" name="endate">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">		
					<div class="col-md-2">
						 <label>广告位置:</label>
					</div>
					<div class="col-md-4">
						<select class="form-control" name="placeid" id="placeid"></select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">		
					<div class="col-md-2">
						 <ltuabel>指向地址:</ltuabel>
					</div>
					<div class="col-md-10">
						<textarea  id="site" name="site" class="form-control" rows="5" cols="20"></textarea>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label>广告图片</label></div>
					<div class="col-md-10">
						<!--隐藏域：往后台传值  -->
						<input type="text" id="picture" name="picture" />
						<!-- projectfile -->
						<input type="file" multiple class="projectfile" accept="image/*" name="imgfile" id="userImg">					
					</div>
				</div>
			</div>	
		</form>
	</div>
</body>
<script type="text/javascript">
	$('.date').datetimepicker({
		  language: 'zh-CN',//显示中文
		  //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
		  format: 'yyyy-mm-dd',//显示格式
		  minView: "month",//设置只显示到月份
		  initialDate: new Date(),//初始化当前日期
		  autoclose: true,//选中自动关闭
		  todayBtn: true//显示今日按钮
	});
</script>
</html>