<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <form id="plaForm">
            <input type="hidden" name="id" id="id">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label>广告位置:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>