<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.CarDao">

    <!-- 树 -->
    <select id="findnode" resultType="com.jk.pojo.TreeBean">
		select tr.id,tr.text,tr.url,tr.qx from
		t_tree tr left join t_role_power rp on rp.powerid = tr.id
		left join t_user_role ur on ur.roleid = rp.roleid
		where ur.userid = #{userid} and tr.pid = #{pid} and tr.location != 'button' GROUP BY tr.id
	</select>
	<!--车辆信息-->
	<!--总条数-->
	<select id="carTotal" resultType="int">
		select count(1) from t_car c
		left join t_type t on c.typeid = t.id
		left join t_color o on c.colorid = o.id
		<include refid="sql"/>
	</select>
	<!--分页查询-->
	<select id="carPage" resultType="com.jk.pojo.CarBean">
		select c.*,t.name name1,o.name name2,o.color from t_car c
		left join t_type t on c.typeid = t.id
		left join t_color o on c.colorid = o.id
		<include refid="sql"/>
		limit #{start},#{rows}
	</select>
	<sql id="sql">
		<where>
			<if test="bean.name!=null and bean.name!=''">
				and c.name  like "%${bean.name}%"
			</if>
			<if test="bean.typeid!=null and bean.typeid!=0">
				and c.typeid=#{bean.typeid}
			</if>
			<if test="bean.status!=null and bean.status!=0">
				and c.status=#{bean.status}
			</if>
		</where>
	</sql>
	<!--车型颜色列表-->
	<select id="findType" resultType="com.jk.pojo.CarBean">
		select * from t_type
	</select>
	<!--车型颜色列表-->
	<select id="findColor" resultType="com.jk.pojo.CarBean">
		select * from t_color
	</select>
	<!--车型新增-->
	<insert id="addCar">
		insert into t_car values(id,#{name},#{typeid},2,2,2,#{colorid})
	</insert>
	<!--车型回显-->
	<select id="findById" resultType="com.jk.pojo.CarBean">
		select * from t_car where id = #{id}
	</select>
	<!--车型修改-->
	<update id="upCar">
		update t_car set name = #{name},typeid = #{typeid},colorid = #{colorid} where id = #{id}
	</update>
	<!--是否最热-->
	<update id="hotCar">
		update t_car set hottest = #{biz} where id = #{id}
	</update>
	<!--是否首发-->
	<update id="firCar">
		update t_car set first = #{biz} where id = #{id}
	</update>
	<!--状态-->
	<update id="staCar">
		update t_car set status = #{biz} where id = #{id}
	</update>
	<!--删除-->
	<delete id="delCar">
		delete from t_car where id = #{id}
	</delete>
	<!--颜色新增-->
	<insert id="addCol">
		insert into t_color values(id,#{name},#{color})
	</insert>
	<!--颜色修改-->
	<update id="upCol">
		update t_color set name = #{name},color = #{color} where id = #{id}
	</update>
	<!--颜色删除-->
	<delete id="delCol">
		delete from t_color where id = #{id}
	</delete>
	<!--颜色回显-->
	<select id="findByIdCol" resultType="com.jk.pojo.CarBean">
		select * from t_color where id = #{id}
	</select>
	<!--类型新增-->
	<insert id="addTyp">
		insert into t_type values(id,#{name})
	</insert>
	<!--类型修改-->
	<update id="upTyp">
		update t_type set name = #{name} where id = #{id}
	</update>
	<!--类型删除-->
	<delete id="delTyp">
		delete from t_type where id = #{id}
	</delete>
	<!--类型回显-->
	<select id="findByIdTyp" resultType="com.jk.pojo.CarBean">
		select * from t_type where id = #{id}
	</select>
	<!--首页管理-->
	<!--总条数-->
	<select id="sloTotal" resultType="int">
		select count(1) status1 from t_slogan s
		left join t_place p on s.placeid = p.id
		<include refid="sql1"/>
	</select>
	<!--分页查询-->
	<select id="sloPage" resultType="com.jk.pojo.SloBean">
		select s.*,p.name name1,p.status status1 from t_slogan s
		left join t_place p on s.placeid = p.id
		<include refid="sql1"/>
		limit #{start},#{rows}
	</select>
	<sql id="sql1">
		<where>
			<if test="bean.name!=null and bean.name!=''">
				and s.name like "%${bean.name}%"
			</if>
		</where>
	</sql>
	<!--新增广告-->
	<insert id="addSlo">
		insert  into t_slogan values(id,#{name},#{picture},#{stdate},#{endate},2,#{placeid},#{site})
	</insert>
	<!--修改广告-->
	<update id="upSlo">
		update t_slogan set name = #{name},picture = #{picture},stdate = #{stdate},endate = #{endate},placeid = #{placeid},site = #{site} where id = #{id}
	</update>
	<!--广告位置表查询-->
	<select id="findPla" resultType="com.jk.pojo.SloBean">
		select * from t_place
	</select>
	<!--回显-->
	<select id="findByIdSlo" resultType="com.jk.pojo.SloBean">
		select * from t_slogan where id = #{id}
	</select>
	<!--删除-->
	<delete id="delSlo">
		delete from t_slogan where id = #{id}
	</delete>
	<!--修改状态-->
	<update id="upSta">
		update t_slogan set status = #{status} where id = #{id}
	</update>
	<!--新增广告位置-->
	<insert id="addPla">
		insert into t_place values(id,#{name},2)
	</insert>
	<!--广告位置修改-->
	<update id="upPla">
		update t_place set name = #{name} where id = #{id}
	</update>
	<!--回显广告位置-->
	<select id="findByIdPla" resultType="com.jk.pojo.SloBean">
		select * from t_place where id = #{id}
	</select>
	<!--删除广告位置-->
	<delete id="delPla">
		delete from t_place where id = #{id}
	</delete>
	<!--修改状态2-->
	<update id="upSts">
		update t_place set status = #{status} where id = #{id}
	</update>
</mapper>
