<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap-theme.css">

    <!-- 引入jquery文件 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的js文件 -->
    <script type="text/javascript" src="../js/bootstrap/bootstrap3/js/bootstrap.min.js"></script>

    <!-- 引入表格的CSS和JS文件 -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <!-- 引入弹框的js文件 -->
    <script src="../js/bootstrap/bootstrap-bootbox/bootbox.js"></script>
</head>
<body>
<div id="toolbar">
    <form class="form-inline">
        <div class="form-group">
            <button type="button" onclick="openUser()" class="btn btn-warning glyphicon glyphicon-plus">新增</button>
        </div>
    </form>
</div>
    <table id="mytable"></table>
</body>
<script type="text/javascript">
    $(function (){
        select();
    })
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,//同步，默认是：异步
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    function update(id){
        bootbox.dialog({
            title:'修改车辆信息',
            message: createAddContent("../car/toaddCol"),//弹框内容
            closeButton: true,//是否显示关闭按钮
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        //提交表单数据：保存
                        $.ajax({
                            url:'../car/addCol',//后台请求地址
                            type:'post',
                            data:$("#carForm").serialize(),//表单序列化
                            //dataType:'json',
                            success:function(){
                                //刷新表格
                                sou();
                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        });
        $.ajax({
            url:"../car/findByIdCol",
            data:{id:id},
            success:function(data){
                $("#name").val(data.name)
                $("#color").val(data.color)
                $("#id").val(id)

            }
        })
    }
    function openUser(){
        bootbox.dialog({
            title:'新增',
            message: createAddContent("../car/toaddCol"),//弹框内容
            closeButton: true,//是否显示关闭按钮
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        //提交表单数据：保存
                        $.ajax({
                            url:'../car/addCol',//后台请求地址
                            type:'post',
                            data:$("#carForm").serialize(),//表单序列化
                            //dataType:'json',
                            success:function(){
                                //刷新表格
                                sou();
                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        });
    }
    function sou(){
        $('#mytable').bootstrapTable("refresh")
    }
    function del(id){
        $.ajax({
            url:"../car/delCol",
            data:{id:id},
            success:function(){
                sou()
                bootbox.alert({
                    size: "small",
                    title: "提示",
                    message: "操作成功！！！",
                    callback: function(){}
                });
            }
        })
    }
    function select(){
            $('#mytable').bootstrapTable({
                url:'../car/findColor',//获取数据地址
                toolbar:'#toolbar',//工具栏
                striped:true,//斑马线
                columns:[
                    [
                        {field:"id",title:"序号"},
                        {field:"name",title:"车型颜色名称"},
                        {field:"color",title:"色值",formatter:function (value,row,index){
                            return value;
                        }},
                        {field: "qq",title: "操作",formatter:function (value,rows,index){
                            var s=""
                            s+="<a href='javascript:update("+rows.id+")'>编辑</a> |"
                            s+=" <a href='javascript:del("+rows.id+")'>删除</a>"
                            return s
                        }}
                    ]
                ]

            });
    }
</script>
</html>