<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap-theme.css">

    <!-- 引入jquery文件 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的js文件 -->
    <script type="text/javascript" src="../js/bootstrap/bootstrap3/js/bootstrap.min.js"></script>

    <!-- 引入表格的CSS和JS文件 -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <!-- 引入弹框的js文件 -->
    <script src="../js/bootstrap/bootstrap-bootbox/bootbox.js"></script>
</head>
<body>
<div id="toolbar">
    <form class="form-inline">
        <div class="form-group">
            <label>车型名称：</label>
            <input type="text" id="names" class="form-control">
            <label>类型：</label>
            <select class="form-control" id="typei"></select>
            <label>状态：</label>
            <select class="form-control" id="statu">
                <option value="0">请选择</option>
                <option value="1">启用</option>
                <option value="2">禁用</option>
            </select>
            <button type="button" onclick="sou()" class="btn btn-success glyphicon glyphicon-search">搜索</button>
            <button type="button" onclick="openUser()" class="btn btn-warning glyphicon glyphicon-plus">新增</button>
        </div>
    </form>
</div>
    <table id="mytable"></table>
</body>
<script type="text/javascript">
    $(function (){
        select();
        initPos();
    })
    //分类列表 t_type
    function initPos(){
        $.ajax({
            url:'../car/findType',//后台请求地址
            type:'get',
            success:function(data){
                //拼接下拉列表的字符串
                var str = "<option value='0'>请选择</option>";
                for(var i=0;i<data.length;i++){
                    str += "<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }
                $("#typei").html(str);
                $("#typeid").html(str);
            }
        });
    }
    //车型颜色列表: t_color
    function initTic(){
        $.ajax({
            url:'../car/findColor',//后台请求地址
            type:'get',
            success:function(data){
                //拼接下拉列表的字符串
                var str = "<option value='0'>请选择</option>";
                for(var i=0;i<data.length;i++){
                    str += "<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }
                $("#colorid").html(str);
            }
        });
    }

    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,//同步，默认是：异步
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    function update(id){
        bootbox.dialog({
            title:'修改车辆信息',
            message: createAddContent("../car/toadd"),//弹框内容
            closeButton: true,//是否显示关闭按钮
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        //提交表单数据：保存
                        $.ajax({
                            url:'../car/addCar',//后台请求地址
                            type:'post',
                            data:$("#carForm").serialize(),//表单序列化
                            //dataType:'json',
                            success:function(){
                                //刷新表格
                                sou();
                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        });
        initPos()
        initTic()
        $.ajax({
            url:"../car/findById",
            data:{id:id},
            success:function(data){
                $("#name").val(data.name)
                $("#typeid").val(data.typeid)
                $("#colorid").val(data.colorid)
                $("#id").val(id)

            }
        })
    }
    function openUser(){
        initPos()
        initTic()
        bootbox.dialog({
            title:'新增',
            message: createAddContent("../car/toadd"),//弹框内容
            closeButton: true,//是否显示关闭按钮
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        //提交表单数据：保存
                        $.ajax({
                            url:'../car/addCar',//后台请求地址
                            type:'post',
                            data:$("#carForm").serialize(),//表单序列化
                            //dataType:'json',
                            success:function(){
                                //刷新表格
                                sou();
                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        });
    }
    function sou(){
        $('#mytable').bootstrapTable("refresh")
    }
    function del(id,field,biz){
        $.ajax({
            url:"../car/voipCar",
            data:{id:id,field:field,biz:biz},
            success:function(){
                sou()
                bootbox.alert({
                    size: "small",
                    title: "提示",
                    message: "操作成功！！！",
                    callback: function(){}
                });
            }
        })
    }
    function select(){
            $('#mytable').bootstrapTable({
                url:'../car/findCar',//获取数据地址
                toolbar:'#toolbar',//工具栏
                pagination:true, //是否展示分页
                pageList:[2, 4, 6, 8],//分页组件
                pageNumber:1,
                pageSize:2,//默认每页条数
                sidePagination:'server',//分页方式：client客户端分页，server服务端分页
                striped:true,//斑马线
                queryParams:function(){
                    return {
                        page:this.pageNumber,//第几页
                        rows:this.pageSize,//每页条数
                        name:$("#names").val(),
                        status:$("#statu").val(),
                        typeid:$("#typei").val()
                    };
                },
                columns:[
                    [
                        {field:"name",title:"车型名称"},
                        {field:"name1",title:"类型"},
                        {field:"hottest",title:"最热车型",formatter:function (value,row,index){
                            return value==1?"最热":"/";
                        }},
                        {field:"first",title:"首发车型",formatter:function (value,row,index){
                            return value==1?"首发":"/";
                        }},
                        {field:"status",title:"状态",formatter:function (value,row,index){
                            return value==1?"启用":"禁用";
                        }},
                        {field: "qq",title: "操作",formatter:function (value,rows,index){
                            var s=""
                            s+="<a href='javascript:update("+rows.id+")'>编辑</a> |"
                            if (rows.status==1){
                                s+="<a href='javascript:del("+rows.id+",1,2)'>禁用</a> |"
                            }else {
                                s+="<a href='javascript:del("+rows.id+",1,1)'>启用</a> |"
                            }
                            if (rows.hottest==1){
                                s+="<a href='javascript:del("+rows.id+",2,2)'>取消最热</a> |"
                            }else {
                                s+="<a href='javascript:del("+rows.id+",2,1)'>最热</a> |"
                            }
                            if (rows.first==1){
                                s+="<a href='javascript:del("+rows.id+",3,2)'>取消首发</a> |"
                            }else {
                                s+="<a href='javascript:del("+rows.id+",3,1)'>首发</a> |"
                            }
                            s+=" <a href='javascript:del("+rows.id+",4,1)'>删除</a>"
                            return s
                        }}
                    ]
                ]

            });
    }
</script>
</html>