<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container-fluid">
		<form id="useFrom">
		<input type="hidden" id="id" name="id">
			<div class="form-group">
				<div class="row">		
					<div class="col-md-2">
						 <label for="name">登录帐号:</label>
					</div>
					<div class="col-md-4">
						<input type="text" id="name" name="name" class="form-control" readonly >
					</div>
					<div class="col-md-2">
						<label for="pwd">登录密码:</label>
					</div>
					<div class="col-md-4">
						<input type="text" id="pwd" name="pwd" class="form-control" placeholder="初始密码123456">
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						 <label for="linkman">联系人:</label>
					</div>
					<div class="col-md-4">
						<input type="text" id="linkman" name="linkman" class="form-control" placeholder="请输入联系人名称">
					</div>
					<div class="col-md-2">
						 <label for="phone">电话:</label>
					</div>
					<div class="col-md-4">
						<input type="text" id="phone" name="phone" class="form-control" placeholder="请输入联系人电话">
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label>部门:</label>
					</div>
					<div class="col-md-4">
						<select class="form-control" name="branchid" id="branchid"></select>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
<script type="text/javascript">
	$('.date').datetimepicker({
		  language: 'zh-CN',//显示中文
		  //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
		  format: 'yyyy-mm-dd',//显示格式
		  minView: "month",//设置只显示到月份
		  initialDate: new Date(),//初始化当前日期
		  autoclose: true,//选中自动关闭
		  todayBtn: true//显示今日按钮
	});
</script>
</html>