<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<!-- 引入bootstap的css文件 -->
<link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap.css">
<link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap-theme.css">

<!-- 引入jquery文件 -->
<script type="text/javascript" src="../js/jquery.min.js"></script>

<!-- 引入bootstrap的js文件 -->
<script type="text/javascript" src="../js/bootstrap/bootstrap3/js/bootstrap.min.js"></script>

<!-- 引入表格的css和js文件 -->
<link rel="stylesheet" href="../js/bootstrap/bootstrap-table/bootstrap-table.css">
<script src="../js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
<script src="../js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

<!-- 引入弹框的js文件 -->
<script src="../js/bootstrap/bootstrap-bootbox/bootbox.js"></script>

<!-- 引入日期得css和js文件 -->
<script src="../js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="../js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<link rel="stylesheet" href="../js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

<!-- 引入上传文件的css和js文件 -->
<script src="../js/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
<script src="../js/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>
<link rel="stylesheet" href="../js/bootstrap/bootstrap-fileinput/css/fileinput.css">
</head>
<body>
	<div id="toolbar">
		  <button type="button" onclick="openpage()" class="btn btn-warning glyphicon glyphicon-plus">新增</button>
	</div>
	<table class="table" id="myTable"></table>
</body>
<script type="text/javascript">
	$(function(){
		initUserTable();
	})
	//打开修改弹框：回显表单数据
	function upBra(id){
		bootbox.dialog({
			title:'修改广告位置名称',
		    message: createAddContent("../user/toAddBra"),//弹框内容
		    closeButton: true,//是否显示关闭按钮
		    buttons : {
		        "success" : {
		            "label" : "<i class='icon-ok'></i> 保存",
		            "className" : "btn-sm btn-success",
		            "callback" : function() {
		            	//提交表单数据：保存
		            	$.ajax({
		            		url:'../user/addBra',
		            		type:'post',
		            		data:$("#braFrom").serialize(),//表单序列化
		            		//dataType:'json',
		            		success:function(){
		            			//刷新表格
		            		searpage();
		            		}
		            	}); 
			        }
		        },
		        "cancel" : {
		            "label" : "<i class='icon-info'></i> 取消",
		            "className" : "btn-sm btn-danger",
		            "callback" : function() {
		            	
		            }
		        }
		    }
		    
		});	
		$.ajax({
			url:"../user/findByIdBra",
			type:"post",
			data:{id:id},
			success:function(data){
				$("#id").val(data.id);
				$("#name").val(data.name);
				$("#principal").val(data.principal);
				$("#phone").val(data.phone);
			}
		})
	}
	var res;
	function createAddContent(url){
		$.ajax({
			url:url,
			async:false,//同步，默认是：异步
			success:function(data){
				res = data;
			}
		});
		return res;
	}
	//打开新增弹框
	function openpage(){
		bootbox.dialog({
			title:'添加广告位置名称',
		    message: createAddContent("../user/toAddBra"),//弹框内容
		    closeButton: true,//是否显示关闭按钮
		    buttons : {
		        "success" : {
		            "label" : "<i class='icon-ok'></i> 保存",
		            "className" : "btn-sm btn-success",
		            "callback" : function() {
		            	//提交表单数据：保存
		            	$.ajax({
		            		url:'../user/addBra',//后台请求地址
		            		type:'post',
		            		data:$("#braFrom").serialize(),//表单序列化
		            		//dataType:'json',
		            		success:function(){
		            			//刷新表格
		            			searpage();
		            		}
		            	}); 
			        }
		        },
		        "cancel" : {
		            "label" : "<i class='icon-info'></i> 取消",
		            "className" : "btn-sm btn-danger",
		            "callback" : function() {
		            	
		            }
		        }
		    }
		    
		});
	}
	//条查
	function searpage(){
		$('#myTable').bootstrapTable('refresh');//刷新表格
	}
	//加载表格
	function initUserTable(){
		$('#myTable').bootstrapTable({
			url:'../user/findBra',//获取数据地址
			columns:[
					[
				  {field:"xx",checkbox:true},
			      {field:"id",title:"序号"},
			      {field:"name",title:"部门名称"},
			      {field:"principal",title:"负责人"},
			      {field:"phone",title:"负责人电话"},
		          {field:"zz",title:"操作",formatter:function(value,row,index){
		        	  str = "";
					  str += "<input type='button' value='删除' onclick='delBra("+row.id+")'>";
					  str += "<input type='button' value='修改' onclick='upBra("+row.id+")'>";
		        	  return str;
		          }}
			]
			],
		    toolbar:'#toolbar',
		    //search:true,//是否显示搜索框
		    //searchText:'试试',//初始化搜索文字
		    showColumns:false,//是否显示 内容列下拉框
		    showToggle:false,//是否显示 切换试图（table/card）按钮
		    showPaginationSwitch:false,//是否显示 数据条数选择框
		    showRefresh:false,//是否显示刷新按钮
		    striped:true,

		})
	}
	function delBra(id) {
    	$.ajax({
			url:"../user/delBra",
			type:"post",
			data:{id:id},
			success:function(){
				$('#myTable').bootstrapTable('refresh');
			}
		});
	}
</script>
</html>