<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<!-- 引入bootstap的css文件 -->
<link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap.css">
<link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap-theme.css">

<!-- 引入jquery文件 -->
<script type="text/javascript" src="../js/jquery.min.js"></script>

<!-- 引入bootstrap的js文件 -->
<script type="text/javascript" src="../js/bootstrap/bootstrap3/js/bootstrap.min.js"></script>

<!-- 引入表格的css和js文件 -->
<link rel="stylesheet" href="../js/bootstrap/bootstrap-table/bootstrap-table.css">
<script src="../js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
<script src="../js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

<!-- 引入弹框的js文件 -->
<script src="../js/bootstrap/bootstrap-bootbox/bootbox.js"></script>

<!-- 引入日期得css和js文件 -->
<script src="../js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="../js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<link rel="stylesheet" href="../js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

<!-- 引入上传文件的css和js文件 -->
<script src="../js/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
<script src="../js/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>
<link rel="stylesheet" href="../js/bootstrap/bootstrap-fileinput/css/fileinput.css">
</head>
<body>
	<div id="toolbar">
		<form class="form-inline">
		  <div class="form-group">
		  	<label for="name1">登录帐号：</label>
		    <input type="text" class="form-control" id="name1" placeholder="请输入登录帐号">
		  </div>
		  <button type="button" onclick="searnew()" class="btn btn-success glyphicon glyphicon-search">搜索</button>		
		  <button type="button" onclick="opennew()" class="btn btn-warning glyphicon glyphicon-plus">新增</button>
		</form>
	</div>
	<table class="table" id="myTable"></table>
</body>
<script type="text/javascript">
	$(function(){
		initUserTable();
	})
	//打开修改弹框：回显表单数据
	function upSlo(id){
		bootbox.dialog({
			title:'修改账号',
		    message: createAddContent("../user/toAdd"),//弹框内容
		    closeButton: true,//是否显示关闭按钮
		    buttons : {
		        "success" : {
		            "label" : "<i class='icon-ok'></i> 保存",
		            "className" : "btn-sm btn-success",
		            "callback" : function() {
		            	//提交表单数据：保存
		            	$.ajax({
		            		url:'../user/addUse',
		            		type:'post',
		            		data:$("#useFrom").serialize(),//表单序列化
		            		//dataType:'json',
		            		success:function(){
		            			//刷新表格
		            		searnew();
		            		}
		            	}); 
			        }
		        },
		        "cancel" : {
		            "label" : "<i class='icon-info'></i> 取消",
		            "className" : "btn-sm btn-danger",
		            "callback" : function() {
		            	
		            }
		        }
		    }
		    
		});	
		$.ajax({
			url:"../user/findByIdUse",
			type:"post",
			data:{id:id},
			success:function(data){
				initPla();//部门表
				$("#id").val(data.id);
				$("#name").val(data.name);
				$("#pwd").val(data.pwd);
				$("#linkman").val(data.linkman);
				$("#phone").val(data.phone);
				$("#branchid").val(data.branchid);
			}
		})
	}
	//初始化部门表的数据
	function initPla(){
		$.ajax({
			url:'../user/findBra',//后台请求地址
			type:'get',
			async:false,
			success:function(data){
				//拼接下拉列表的字符串
				var str = "<option value='-1'>请选择</option>";
				for(var i=0;i<data.length;i++){
					str += "<option value='"+data[i].id+"'>"+data[i].name+"</option>";
				}
				$("#branchid").html(str);
				var aaa = ("0000000" + 100000000 * Math.random()).match(/(\d{8})(\.|$)/)[1]
				$("#name").val(aaa);
			}
		});	
	}

	var res;
	function createAddContent(url){
		$.ajax({
			url:url,
			async:false,//同步，默认是：异步
			success:function(data){
				res = data;
			}
		});
		return res;
	}
	//打开新增弹框
	function opennew(){
		bootbox.dialog({
			title:'添加账号',
		    message: createAddContent("../user/toAdd"),//弹框内容
		    closeButton: true,//是否显示关闭按钮
		    buttons : {
		        "success" : {
		            "label" : "<i class='icon-ok'></i> 保存",
		            "className" : "btn-sm btn-success",
		            "callback" : function() {
		            	//提交表单数据：保存
		            	$.ajax({
		            		url:'../user/addUse',//后台请求地址
		            		type:'post',
		            		data:$("#useFrom").serialize(),//表单序列化
		            		//dataType:'json',
		            		success:function(){
		            			//刷新表格
		            			searnew();
		            		}
		            	}); 
			        }
		        },
		        "cancel" : {
		            "label" : "<i class='icon-info'></i> 取消",
		            "className" : "btn-sm btn-danger",
		            "callback" : function() {
		            	
		            }
		        }
		    }
		    
		});
		//初始部门的数据
		initPla();
	}
	//条查
	function searnew(){
		$('#myTable').bootstrapTable('refresh');//刷新表格
	}
	//加载表格
	function initUserTable(){
		$('#myTable').bootstrapTable({
			url:'../user/findUse',//获取数据地址
			columns:[
					[
				  {field:"xx",checkbox:true},
			      {field:"id",title:"序号"},
			      {field:"name",title:"登录帐号"},
			      {field:"phone",title:"电话"},
			      {field:"linkman",title:"联系人"},
			      {field:"name1",title:"所在部门"},
		          {field:"zz",title:"操作",formatter:function(value,row,index){
		        	  str = "";
					  str += "<input type='button' value='删除' onclick='delNew("+row.id+")'>";
					  str += "<input type='button' value='编辑' onclick='upSlo("+row.id+")'>";
		        	  return str;
		          }}
			]
			],
		    toolbar:'#toolbar',
		    pagination:true, //是否展示分页
		    newList:[5, 10, 20, 50],//分页组件
		    newNumber:1,
		    newSize:5,//默认每页条数
		    //search:true,//是否显示搜索框
		    //searchText:'试试',//初始化搜索文字
		    showColumns:false,//是否显示 内容列下拉框
		    showToggle:false,//是否显示 切换试图（table/card）按钮
		    showPaginationSwitch:false,//是否显示 数据条数选择框
		    showRefresh:false,//是否显示刷新按钮
		    detailView:false,//设置为 true 可以显示详细页面模式。
		    showFooter:false,//是否显示列脚clickToSelect: true, //是否启用点击选中行
		    sidePagination:'server',//分页方式：client客户端分页，server服务端分页
		    striped:true,
		    queryParams:function(){
			    return {
				    page: this.newNumber,
				    rows: this.newSize,
				    name:$("#name1").val(),
			    };
		    },
			
		})
	}
	function delNew(id) {
    	$.ajax({
			url:"../new/delNew",
			type:"post",
			data:{id:id},
			success:function(){
				$('#myTable').bootstrapTable('refresh');
			}
		});
	}
	function nupSta(id,status) {
    	$.ajax({
			url:"../new/nupSta",
			type:"post",
			data:{id:id,status:status},
			success:function(){
				$('#myTable').bootstrapTable('refresh');
			}
		});
	}
</script>
</html>